<!DOCTYPE html>
<html>
<head>
	<title>First Day</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../public/stylesheets/firstDay.css" type="text/css"></link>
</head>
<body>
	<div class="content">
		<div class="menu">
			<div class="menu_cont">
				<img class="menu_logo" src="../public/images/logo.png">
				<ul class="menu_title">
					<li>Home</li>
					<li>Apply As Tutor</li>
					<li>How It Works</li>
					<li>Why Education</li>
					<li>About Us</li>
					<li>Sign In</li>
				</ul>
				<button class="menu_button">Donate</button>
			</div>
		</div>
		
		<div class="hero">
			<img class="hero_img" src="../public/images/hero.png"/>
			<span class="hero_title">ONLINE TUTORING. ALWAYS FREE AND AVAILABLE.</span>
			<div class="hero_button">
				<button class="hero_button_left">I'M A STUDENT</button>
				<button class="hero_button_right">I'M A TUTOR</button>
			</div>
		</div>
		
		<div class="mission">
			<div class="mission_cont">
				<span class="mission_title">MISSION</span>
				<span class="mission_msg">To Learn To Be Foundation is on a mission to provide 100% free, 1-on-1,<br>
					online tutoring to students everywhere
				</span>
				<button class="mission_button">Donate</button>
			</div>
		</div>
		
		<div class="students">
			<img class="stu_img" src="../public/images/1.png">
			<div class="stu_cont">
				<span class="stu_title">students</span>
				<div class="stu_msg">We offer students 100% free online 
					tutoring almost 24 hours a day.Struggling 
					with a homework problem?Don't understand a concept you're learning?
					Don't worry,we've got you.
				</div>
				<button class="stu_button">Start Learning</button>
			</div>
		</div>
		
		<div class="tutors">
			<div class="tur_cont">
				<span class="stu_title">PROSPECTIVE TUTORS</span>
				<span class="stu_msg">Join our team of over 600 tutors who are 
				dedicated to providing individualized attention to students
				around the world.Tutor at your convenience and make a real impact.
				</span>
				<button class="tur_button">Join Us</button>
			</div>
			<img class="tur_img" src="../public/images/2.png">
		</div>
		
		<div class="partners">
			<img class="stu_img" src="../public/images/3.png">
			<div class="stu_cont">
				<span class="stu_title">PARTNERS</span>
				<div class="stu_msg">We are dedicated to partnering with schools
				and organizations that help to further our mission of providing 
				individualized online tutoring to kids living in underserved communities.
				</div>
				<button class="ptr_button">Help Us</button>
			</div>
		</div>
		
		<div class="progress">
			<span class="progress_title">OUR PROGRESS</span>
			<div class="progress_cont">
				<div class="progress_box_left">
					<span class="progress_box_title">13,000</span><br>
					<span class="progress_box_cont">Hours Tutored</span>
				</div>
				<div class="progress_box_center">
					<span class="progress_box_title">25,000</span><br>
					<span class="progress_box_cont">Session Hosted</span>
				</div>
				<div class="progress_box_right">
					<span class="progress_box_title">600</span><br>
					<span class="progress_box_cont">Volunteer Tutors</span>
				</div>
			</div>
		</div>
		
		<div class="copyright">
			<div class="copyright_cont">
				<span>&copy;Learn To Be 2014</span>
			</div>
		</div>
		
	</div>
	
</body>
</html>